.perfil1{
    background: rgba(255, 195, 44, 0.76);
    color: #000;
    border-top: 5px border-style #fff;
    margin-top: 3px;
}
h5, th{
    color: #004e89;
    text-align: center;
    font-size: 18px;
}
p, tr, th{
    text-align: center;
}
.perfil2{
    color: #000;
    border-top: 5px border-style #fff;
    margin-top: 3px;
}
#footer>div>p{
    text-align: left;
}