#div-esperanza {
    background: url('../imagenes/esperanza-1.jpg');
    height: 700px;
    min-height: 300px;
}

#div-esperanza > div {
    width: 300px;
    /*background: rgba(191, 191, 191, .5);*/
    /*background: rgba(0, 206, 209, .3);*/
    background: rgba(255, 196, 44, .3);
    position: relative;
    padding: 10px 20px 10px 20px;
    float: right;
}

#div-esperanza > h3 {
    color: #fff;
}

#info {
    background: #ff873e;
}

#block-1 {
    padding: 30px;
}

#block-1 > h2 {
    text-align: center;
    color: #fff;
}

#block-1 > p {
    color: #fff;
}

.lazo-cncr {
    position: relative;
    width: 50px;
    z-index: 1;
    float: right;
}

#urgent-supply {
    background-color: #fff;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#urgent-supply h2 {
    text-align: center;
}

.child-card {
    border: 1px solid #00ced1;
    background-color: #fff;
    max-width: 80%;
    min-width: 40%;
    border-radius: 20px;
}

.care {
    max-width: 100px;
    position: relative;
    display: block;
    margin: 0 auto 0 auto;
}

.urgente {
    background-color: red;
    color: #fff;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
}

.urgente > p {
    text-align: center;
}

.btn-mas {
    background-color: #00ced1;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    float: right;
    color: #fff;
    border-style: none;
    margin-bottom: 10px;
}

.btn-mas:hover {
    background-color: #d8d7d2;
    color: #000;
}

.ayuda {
    position: relative;
    display: block;
    margin: 0 auto 0 auto;
    width: 50px;
}

@media only screen and (max-width: 767px) {
    #urgent-supply {
        padding-left: 20%;
    }
    #right-move {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    #div-esperanza > div {
        top: 20%;
        right: 40px;
    }
    .lazo-cncr {
        top: 240px;
        left: 250px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #urgent-supply {
     padding-left: 20%;
    }
    #right-move {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    #div-esperanza > div {
        top: 20%;
        right: 100px;
    }
    .lazo-cncr {
        top: 230px;
        left: 200px;
    }
 }

 @media only screen and (min-width: 992px){
    #urgent-supply {
        padding-left: 15%;
    }
    #right-move {
        margin-right: 10px;
    }
    #div-esperanza > div {
        top: 20%;
        right: 100px;
    }
    .lazo-cncr {
        top: 230px;
        left: 200px;
    }
 }
