.btn-close {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffc42c !important;
    color: #000;
    font-size: 2em;   
    text-shadow: none !important;
    opacity: 1;
}

.btn-close:hover {
    background-color: rgba(255, 196, 44, 0.83);
}

#sesionLabel {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
}

.form-sesion {
    position: relative;
    display: block;
    margin: 0 auto 0 auto;
    width: 70%;
}

.modal-content {
    background-color: #00ced1;
}

.modal-header {
    border-bottom: 1px solid #d8d7d2;
}

.change:hover {
    border: 2px solid #d8d7d2;
}

.input-capsule {
    border: 1px solid #00ced1;
    border-radius: 30px;
}

.input-capsule:hover {
    border: 4px solid #ffc42c;
}


