body{
	color:#000;
}
form{
	margin-top: 3%;
}
#panel, #boton {
    padding: 5px;
    text-align: center;
    background-color: #ffc42c;
    border: solid 1px #ff873e;
    width: 100%;
}
#boton{
	font-size: 20px;
	color: #fff;

}
textarea, select{
	border-radius: 30px !important; 
	border: 0px none !important;
}
#panel {
    padding: 50px;
    display: none;
    background-color: #fff;
    border: solid 1px #00ced1;
}
.titulo{
	text-align: center; 
	width: 100%;
	font-size: 24px;
	color:#00ced1;
	padding-bottom: 2%;
}
.tamano{
	width: 60%;
}
.borde{
	border-radius: 30px;
}
.borde-inc{
	border-radius: 30px ;
	background-color: #00ced1 ;
	background: #00ced1 !important;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.btn{
	background-color: #00ced1;
	width: 80px;
	font-weight: bold;
	color: #fff;
}
.btn-default{
	width: 150px;
}
.cuadro{
	border:solid 1px #00ced1;
	border-radius: 20px;
	padding: 10px 10px 10px 10px;
}
.perfil1{
	border-top:2px solid #fff;
	background-color: #00ced1;
	letter-spacing: 1px;
	margin-left: 2px;
	margin-right: 3%;
}
.pc1{
	padding-left: 3%;
	padding-right: 3%;
}
.pc2{
	padding-left: 0%;
}
.pc3{
	padding-right: 2%;
	padding-left: 2%;
}
.insumo-perfil{
	margin-left: 3%;
	margin-right: 3%;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn-default, .mas{
	background-color: #ffc42c;
    border-color: #ff873e;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
	background-color: #ff873e;
    border-color: #ffc42c;
}
table{
	text-align: center;
	letter-spacing: 1px;
	padding: 10px 10px 10px 10px;
}
th{
	text-align: center;
	letter-spacing: 1px;
}
h3{
	letter-spacing: 1.5px;
	padding-bottom: 20px;
}
