.title-page {
    text-align: center;
    margin-bottom: 40px;
}

#form-registrar {
    position: relative;
    display: block;
    margin: 0 auto 0 auto;
    width: 80%;
}

#icon-center > h1{
    text-align: center;
}

.input-capsule {
    border: 2px solid #fff;
    border-radius: 30px;
}

.input-capsule:hover {
    border-color: #ffc42c;
}

.form-control:focus {
    border: 2px solid #ffc42c;
    border-left-style: none;
}

@media only screen and (max-width: 767px) {
    #separacion {
        border-style: none;
        margin-left: 10%;
        margin-right: 10%;
    }

    #separacion > .row {
        width: 90%;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #separacion {
        border-left: solid;
        border-left-width: 1px;
        border-left-color: #00ced1;
        height: 300px;
    }

    #separacion p {
        margin-left: 5%;
    }

    #separacion > .row {
        width: 95%;
    }
}

@media only screen and (min-width: 992px){
    #separacion {
        border-left: solid;
        border-left-width: 1px;
        border-left-color: #00ced1;
        height: 300px;
    }

    #separacion p {
        margin-left: 5%;
    }

    #separacion > .row {
        width: 95%;
    }

    .title-page > h3 {
        margin-bottom: 20px;
    }
}