#title-pag {
    text-align: center;
    position: relative;
    display: block;
    margin: 0 auto 0 auto;
    background-color: #ff873e;
    padding: 10px 10px 10px 10px;
    width: 50%;
    color: #fff;
}

#title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-page > h2 {
    color: #fff;
    text-align: center;
}

table, thead tr th {
    text-align: center;
}

.search {
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-search {
    background-color: #ffc42c;
    border-color: #ffc42c;
    color: #fff;
}

.pagination>.active>span {
    background-color: #00ced1;
    border-color: #00ced1;
}

.pagination>li>a, .pagination>li>span {
    color: #000;
}

@media only screen and (max-width: 767px) {
    #title-pag {
        font-size: 1.5em;
    }
    
    .row center .table  {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #title-pag {
        font-size: 1.5em;
    }

    .row center .table {
        width: 60%;
    }
}

@media only screen and (min-width: 992px) {
    .row center .table {
        width: 40%;
    }
}